@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
button:active {
  transform: scale(0.97);
}

a, button {
  transition: all 0.2s ease;
}

::selection {
  background: #7C4DFF;
  color: white;
}